- @review.each_slice(3) do |review|
  .row
    -@review.each do |review|
      .col-md-4
        .review
          .image_wrapper
            = link_to review do
              = image_tag review.image.url(:medium)
          %h2= link_to review.title, review